#jap{
    background-image: url(../image/best-camera-settings-for-portrait-photography.jpg);
    height: 400px;
    width: 100%;
}
.picturealbum{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.pictur-ebox{
  /*  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    flex-wrap: wrap; */
}
img{
  width: 100%;  
  height: 250px;
}
.pico{
  width: 20%;
  flex-wrap: wrap;
  margin: 30px;
}
.foot{
    height: 50px;
    width: 20%;
    border: 2px solid black;
    border-radius: 6px;
}
.foot:hover{
    background-color: green;
}
.bfoot{
    display: flex;
    justify-content: center;
    margin: 35px;
}
.vit{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.no1{
    height: 100px;
    width: 40%;
}
.dbg{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 150px;
    border: turquoise;
    margin: 2px solid black;
}
.dg{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100px;
    border: tomato;
}
.fut{
    height: 100px;
    width: 100%;
}


